<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${presentation.meta.get("title", "Untitled Presentation")}</title>
		<link rel="stylesheet" href="pybeamer.css">
		%for css_filename in rendered_presentation.css:
		<link rel="stylesheet" href="${css_filename}">
		%endfor
	</head>

	<body>
		<div class="menu">
			<input type="text" value="1" id="current_slideno" class="control" />
			<button id="btn_present" class="control">Present</button>
		</div>

		%for slide in rendered_presentation.rendered_slides:
		${slide}
		%endfor

		<script type="module">
			import {Presentation} from "./pybeamer.js";
			const presentation = new Presentation();
			document.querySelector("#btn_present").addEventListener("click", (event) => presentation.start());
		</script>
	</body>
</html>
