div.slide {
	font-family: "Fira Sans";
	font-size: 32pt;
}

div.slidetype-title > div.presentation-title {
	position: absolute;
	top: 25%;
	left: 10%;
	font-weight: bold;
	font-size: 130%;
}

div.slidetype-title > div.presentation-subtitle {
	position: absolute;
	top: 35%;
	left: 10%;
	font-size: 130%;
}

div.slidetype-title > hr.divider {
	border: 1px solid #e67e22;
	position: relative;
	width: 80%;
	top: 50%;
}

div.slidetype-title > div.presentation-author {
	position: absolute;
	bottom: 41%;
	left: 10%;
	font-size: 75%;
	font-weight: 300;
}

div.slidetype-title > div.presentation-date {
	position: absolute;
	bottom: 35%;
	left: 10%;
	font-size: 75%;
	font-weight: 300;
}

div.slidetype-base > div.header {
	position: relative;
	background: #34495e;
	color: #ecf0f1;
	height: 15%;	 
	top: 0;
}

div.slidetype-base > div.content {
	position: relative;
	height: 80%;	 
}

div.slidetype-base > div.footer {
	position: relative;
	height: 5%;	 
	background: #ecf0f1;
	font-weight: 300;
	font-size: 55%;
	display: flex;
	align-items: center;
}

div.slidetype-base > div.footer > div.presentation-title {
	float: left;
	margin-left: 5px;
	display: inline-block;
}

div.slidetype-base > div.footer > div.classification {
}

div.slidetype-base > div.footer > div.slide-number {
}

div.slidetype-base > div.footer > div.slide-timing {
}

div.slidetype-leftright div.content-left {
	position: relative;
	float: left;
	width: 50%;
}

div.slidetype-leftright div.content-right {
	position: relative;
	float: right;
	width: 50%;
}
