<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Presentation Timer</title>
	</head>
	<body>
		<div class="menu">
			Presentation Timeslot:
			<input type="text" value="14:00-15:00" id="presentation_slot" class="control" />
			Pause Time:
			<input type="text" value="10" id="pause_time_mins" class="control" />
		</div>

		<div id="time_display">
			1:23
		</div>

		<script type="module">
			import {PresentationTimer} from "./pybeamer_timer.js";





			const ui_elements = {
				"presentation_slot":	document.querySelector("#presentation_slot"),
				"pause_time_mins":		document.querySelector("#pause_time_mins"),
				"time_display":			document.querySelector("#time_display"),
			};
			const pt = new PresentationTimer(ui_elements);
		</script>
	</body>
</html>
