div.slide {
	font-family: "Fira Sans";
	font-size: 32px;
}

div.title img.bar {
	position: absolute;
	top: 58%;
	left: 2%;
}

div.title div.title {
	font-weight: bold;
	font-size: 150%;
	position: absolute;
	bottom: 45%;
	left: 5%;
	color: #2185c5;
}

div.title div.author {
	position: absolute;
	top: 63%;
	left: 5%;
	color: #677480;
}

div.title div.date {
	position: absolute;
	top: 67%;
	left: 5%;
	color: #97abbc;
}

pre.terminal {
	background: #000;
	color: #fff;
	border: 1px gray dotted;
	margin-left: 3%;
	margin-right: 3%;
	padding: 10px;
}

div.code {
}
